ManageSellProduct/.vs/
ManageSellProduct/ManageSellProduct/bin
ManageSellProduct/ManageSellProduct/obj
ManageSellProductOOP/.vs/
ManageSellProductOOP/ManageSellProduct/obj/
ManageSellProductOOP/ManageSellProduct/wwwroot/lib/
